.nav-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    list-style-type: none;
    min-width: 300px;
    justify-content: left;
}

.nav-bar-button {
    user-select: none;
    padding: 1rem;
    font-size: 30px;
    text-align: center;
}

.nav-bar-button-selected {
    user-select: none;
    font-size: 30px;
    padding: 1rem;
    background-color: #13137d;
    text-align: center;
}

.nav-bar-button:hover {
    background-color: #13137d;
    transition: .5s;
}

@media (min-width: 600px) {
    .nav-bar {
        flex-direction: row;
    }
}
